/dist
/.wrangler
/.output
/.vercel
/.netlify
/.vinxi
/app.config.timestamp_*.js
/.vscode

# Environment
/.env*

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# System Files
.DS_Store
Thumbs.db

# Project specific
/docker/database/data
/docker/database/exchange
/docker/proxy/certs
/docker/proxy/certbot
/TODO.md
